* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(0.25turn,   #3f87a6, #ebf8e1,   #f69d3c );
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    height: 100vh;
}
.start-content, .end-content {
    background-color: #fff;
    width: 700px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.start-text {
    text-align: center;
    padding: 30px;
    font-size: 18px;
}

.quiz-container{
    background-color: #fff;
    width: 700px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    display: none;
    
}


.quiz-header, .start-header {
    padding: 3rem;
}
/*This is the question that displays*/
h2, #quiz-title, h3{
    padding: 1rem;
    margin: 0;
    text-align: center;
}
/*This is the multiple choice buttons*/
ul{
    list-style: none;
    padding: 0px;
}
ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}
/*This is the start quiz button*/
button {
    background-color: #c0c5ce;
    color: white;
    width: 100%;
    border: none;
    display: block;
    padding: 1.3rem;
}
button:hover {
    background-color: #a7adba;
}
button:focus {
    background-color: #D9544D;
    outline: none;
}

.score, label{
    padding: 25px;
}

