* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c );
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    height: 100vh;
}

.quiz-container {
    background-color: #fff;
    width: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.quiz-header {
    padding: 4rem;
}

h2 {
    padding: 1rem;
    margin: 0;
    text-align: center;
}

ul{
    list-style: none;
    padding: 0px;
}
ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

button {
    background-color: #c0c5ce;
    color: white;
    width: 100%;
    border: none;
    display: block;
    padding: 1.3rem;
}